<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="ADO.NET.SqlServer" value="Data Source=190.200.52.231;Initial Catalog=ACP;User=SA; Password=12345;"/>
  </appSettings>

  <connectionStrings>
    <remove name="LocalSqlServer"></remove>
    <add name="LocalSqlServer" connectionString="Data Source=190.200.52.231;Initial Catalog=ACP;User=SA; Password=12345;"/>

    <add name="ADO.NET.SqlServer" connectionString="Data Source=190.200.52.231;Initial Catalog=ACP;User=SA; Password=12345;"/>
  </connectionStrings>
</configuration>